<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>825809475641-3llodma7v7kip2mvil8lhq150e6a0mkk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825809475641-3llodma7v7kip2mvil8lhq150e6a0mkk</string>
	<key>API_KEY</key>
	<string>AIzaSyAE1OIozzEZGuClYsg9LIDiQ-mOepaVLLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>825809475641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Torres.MessengerClone</string>
	<key>PROJECT_ID</key>
	<string>messengerclone-6ec34</string>
	<key>STORAGE_BUCKET</key>
	<string>messengerclone-6ec34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825809475641:ios:2f74982b25fd475c9895e8</string>
</dict>
</plist>